NODE_ENV=YOUR_NODE_ENVIRONMENT
PORT=YOUR_LOCALHOST_PORT
FRONTEND_URL=YOUR_FRONTEND_URL
BACKEND_URL=YOUR_BACKEND_URL
BETTER_AUTH_SECRET=YOUR_BETTER_AUTH_SECRET
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET
SESSION_TOKEN_EXPIRES_IN=YOUR_SESSION_TOKEN_EXPIRATION
SESSION_TOKEN_UPDATE_AGE=YOUR_SESSION_TOKEN_UPDATE_AGE
STORE_ID=YOUR_SSLCOMMERZ_STORE_ID
STORE_PASSWORD=YOUR_SSLCOMMERZ_STORE_PASSWORD
IS_LIVE=IS_PAYMENT_LIVE
SMTP_USER=YOUR_PROFESSIONAL_EMAIL
SMTP_PASS=YOUR_SMTP_PASSWORD
SMTP_HOST=YOUR_SMTP_HOST
SMTP_PORT=YOUR_SMTP_PORT
CLOUDINARY_CLOUD_NAME=YOUR_CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY=YOUR_CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=YOUR_CLOUDINARY_API_SECRET
DATABASE_URL=YOUR_DATABASE_URL